---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.split.cash/payto/agreements
    body:
      encoding: UTF-8
      string: '{"uid":"not valid","purpose":"retail","debtor":{"party_name":"Erlich
        Bachman","account_identifier":{"type":"bban","value":"123456-876543"}},"creditor":{"party_name":"Jian
        Yang","account_identifier":{"type":"bban","value":"654321-876342"}},"description":"TODO
        pass this through","validity_end_date":"2023-03-07","payment_terms":{"type":"fixed","frequency":"adhoc","amount":123,"count":1}}'
    headers:
      Authorization:
      - "<SOMETHING-SECRET>"
      Content-type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Validation Failed","detail":"The value for `uid`
        is in invalid format"}]}'
  recorded_at: Sun, 05 Mar 2023 12:14:41 GMT
recorded_with: VCR 6.1.0
