---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.split.cash/payto/agreements
    body:
      encoding: UTF-8
      string: '{"uid":"so_unique_3","purpose":"retail","debtor":{"party_name":"Erlich
        Bachman","account_identifier":{"type":"bban","value":"123456-876543"}},"creditor":{"party_name":"Jian
        Yang","account_identifier":{"type":"bban","value":"654321-876342"}},"description":"TODO
        pass this through","validity_end_date":"2023-03-07","payment_terms":{"type":"fixed","frequency":"adhoc","amount":123,"count":1}}'
    headers:
      Authorization:
      - "<SOMETHING-SECRET>"
      Content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"db52d74c8c420b296e609a57912c15ec"
    body:
      encoding: UTF-8
      string: '{"data":{"uid":"so_unique_3","failure":null,"state":"pending","created_at":"2023-03-05T23:14:41+11:00","purpose":"retail","resolution_requested_before":null,"payment_terms":{"type":"fixed","frequency":"adhoc","count":1,"max_amount":null,"amount":123,"first_payment_amount":null,"last_payment_amount":null,"first_payment_date":null,"last_payment_date":null},"debtor":{"party_name":"Erlich
        Bachman","ultimate_party_name":"Erlich Bachman","account_identifier":{"type":"bban","value":"123456-876543"}},"creditor":{"party_name":"Jian
        Yang","ultimate_party_name":"Jian Yang","account_identifier":{"type":"bban","value":"654321-876342"}},"initiator":{"name":"Blake
        Astley Testing","legal_name":"Blake Astley Testing","abn":"01234567891"},"description":"TODO
        pass this through","validity_start_date":"2023-03-05","validity_end_date":"2023-03-07","state_caused_by":"initiator","links":{"self":"https://api.sandbox.split.cash/payto/agreements/so_unique_3"}}}'
  recorded_at: Sun, 05 Mar 2023 12:14:41 GMT
recorded_with: VCR 6.1.0
