---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.split.cash/payto/payments
    body:
      encoding: UTF-8
      string: '{"uid":"not valid","agreement_uid":"so_unique_3","amount":123,"priority":"unattended","description":"TODO
        pass this through"}'
    headers:
      Authorization:
      - "<SOMETHING-SECRET>"
      Content-type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"Validation Failed","detail":"The value for `uid`
        is in invalid format"}]}'
  recorded_at: Sun, 05 Mar 2023 12:14:42 GMT
recorded_with: VCR 6.1.0
