---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.split.cash/payto/payments
    body:
      encoding: UTF-8
      string: '{"uid":"so_unique_3","agreement_uid":"so_unique_3","amount":123,"priority":"unattended","description":"TODO
        pass this through"}'
    headers:
      Authorization:
      - "<SOMETHING-SECRET>"
      Content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4624046e6a5f5185ca09baaec3a60329"
    body:
      encoding: UTF-8
      string: '{"data":{"uid":"so_unique_3","agreement_uid":"so_unique_3","state":"created","amount":123,"last_payment":null,"priority":"unattended","reference":null,"description":"TODO
        pass this through","creditor":{"party_name":"Jian Yang","ultimate_party_name":"Jian
        Yang","account_identifier":{"type":"bban","value":"654321-876342"}},"debtor":{"ultimate_party_name":"Erlich
        Bachman","party_name":"Erlich Bachman","account_identifier":{"type":"bban","value":"123456-876543"}},"failure":null,"created_at":"2023-03-05T23:14:41+11:00","links":{"self":"https://api.sandbox.split.cash/payto/payments/so_unique_3","agreement":"https://api.sandbox.split.cash/payto/agreements/so_unique_3"}}}'
  recorded_at: Sun, 05 Mar 2023 12:14:41 GMT
recorded_with: VCR 6.1.0
